@font-face {
  font-family: "Interfaces";
  src: url(../fonts/TTINTERFACES-REGULAR.TTF);
}
@font-face {
  font-family: "Interfaces-500";
  src: url(../fonts/TTINTERFACES-MEDIUM.TTF);
}
@font-face {
  font-family: "Interfaces-300";
  src: url(../fonts/TTINTERFACES-LIGHT.TTF);
}

@font-face {
  font-family: "Decor";
  src: url(../fonts/RFDewiExtended-Regular.ttf);
}
@font-face {
  font-family: "Decor-600";
  src: url(../fonts/RFDewiExtended-Semibold.ttf);
}
@font-face {
  font-family: "Decor-700";
  src: url(../fonts/RFDewiExtended-Bold.ttf);
}

:root {
  --light: "Interfaces-300";
  --regular: "Interfaces";
  --medium: "Interfaces-500";
  --decor: "Decor";
  --decor-sm: "Decor-600";
  --decor-bd: "Decor-700";

  --black: #020105;
  --green: #2d6a4f;
  --light: #d8f3dc;
  --dark: #081c15;
}

::-webkit-scrollbar {
  width: 0.44rem;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--green);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--regular);
  color: var(--black);
  background: white;
}

/* *:where(
      :not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)
    ) {
    all: unset;
    display: revert;
  } */
*,
*::before,
*::after {
  box-sizing: border-box;
}
a,
button {
  cursor: revert;
}
ol,
ul,
menu {
  list-style: none;
}
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}
table {
  border-collapse: collapse;
}
input,
textarea {
  -webkit-user-select: auto;
}
textarea {
  white-space: revert;
}
meter {
  -webkit-appearance: revert;
  appearance: revert;
}
:where(pre) {
  all: revert;
}
::placeholder {
  color: unset;
}
::marker {
  content: initial;
}
:where([hidden]) {
  display: none;
}
:where([contenteditable]:not([contenteditable="false"])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}
:where([draggable="true"]) {
  -webkit-user-drag: element;
}
:where(dialog:modal) {
  all: revert;
}
.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 4px;
}
.container.medium {
  max-width: 1465px;
  margin: 0 auto;
  padding: 0 4px;
}
.container.small {
  max-width: 1330px;
  margin: 0 auto;
  padding: 0 4px;
}
p,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: white;
}
button {
  cursor: pointer;
}
.green {
  color: var(--green);
}
img,
svg {
  pointer-events: none;
}
input,
button {
  background: unset;
  border: none;
}
ul,
ol,
li {
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 1600px) {
  .container {
    padding: 0 16px;
  }
}
@media screen and (max-width: 1024px) {
  .container,
  .container.medium,
  .container.small {
    padding: 0 16px;
  }
}
input:focus {
  outline: none;
}
.nuxt-link-exact-active {
  color: var(--green) !important;
}
